body {
    background: black;
}

.container {
    width: 300px;
    margin: 20px auto;
    height: 300px;
    display: grid;
    grid-gap: 4px;
    grid-template-rows: 100px 100px 1fr 1fr;
    grid-template-columns: 30px 1fr 30px;
}

.item {
    background: #F3F3F3;
}

.one {
    grid-row: 1;
    grid-column: 1;
}

.two {
  background-color: red;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.three {
}

.four {
  grid-column: 3;
}

.five {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

.six {
  background-color: gold;
  grid-column: 3;
}

.seven {
  background-color: blue;
  grid-row: 3 /5;
}
